<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserção Filme</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/save}" th:object="${filme}" method="post">
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Ano de Lançamento</th>
            <th>Atores</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input name="nome" th:field="*{nome}"/>
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </td>
            <td><input name="genero" th:field="*{genero}"/>
                <div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
            </td>
            <td><input name="anoLancamento" th:field="*{anoLancamento}"/>
                <div th:if="${#fields.hasErrors('anoLancamento')}" th:errors="*{anoLancamento}"></div>
            </td>
            <td><input name="atores" th:field="*{atores}"/>
                <div th:if="${#fields.hasErrors('atores')}" th:errors="*{atores}"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <fieldset>
        <input type="submit" id="submitButton" th:value="Salvar">
        <input type="reset" id="resetButton" th:value="Resetar">
    </fieldset>
</form>
</body>
</html>